:root{
  --button-background-primary: #126FB5;
  --button-background-primary-dark: #4ECBFB;
  --button-background-secondary: #4FE3C1;
  --button-background-secondary-dark: #74FFE0;
  --button-addToCart-primary: #FF5436;
  --button-addToCart-dark: #FE8975;
  --background-primary: #FFFFFF;
  --background-dark: #014A7F;
  --card-background-primary:white;
  --card-background-secondary:white;
  --text-primary:#FCFFE7;
  --text-secondary:#ECE8DD;



}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}
